{% extends "../layout.html" %}

{% block css %}
{% endblock %}

{% block js %}
<script src="/js/main.js"></script>
{% endblock %}

{% block title %}
TOP | {{ block.Super }}
{% endblock %}

{% block content %}
<h1>WebSocketを使ったチャットアプリケーション</h1>
<h2>部屋: {{ RoomID }}</h2>
<form id="chatbox">
  :<br />
  <textarea name="" id="msgInput" cols="30" rows="10"></textarea>
  <input type="submit" value="送信">
</form>
<ul id="messages"></ul>
<div class="a">1</div>
<div id="2">2</div>
<div id="3">3</div>
<div id="4">4</div>
<div id="5">5</div>
<div id="6">6</div>
<div id="7">7</div>
<div id="8">8</div>
<div id="9">9</div>
<div id="10">10</div>
<div id="11">11</div>
<div id="12">12</div>
<div id="13">13</div>
<div id="14">14</div>
<div id="15">15</div>
<div id="16">16</div>
<div id="17">17</div>
<div id="18">18</div>
<div id="19">19</div>
<div id="20">20</div>
<div id="21">21</div>
<div id="22">22</div>
<div id="23">23</div>
<div id="24">24</div>
<div id="25">25</div>
<div id="26">26</div>
<div id="27">27</div>
<div id="28">28</div>
<div id="29">29</div>
<div id="30">30</div>
<div id="31">31</div>
<div id="32">32</div>
<div id="33">33</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div class="b">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div class="c">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
{% endblock %}
