{% extends "../layout.html" %}

{% block css %}
{% endblock %}

{% block js %}
<script src="/js/main.js"></script>
{% endblock %}

{% block title %}
TOP | {{ block.Super }}
{% endblock %}

{% block content %}
<!-- <div id="app"> -->
<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Go Redis Chat</a>
</nav>
<!-- <div class="container"> -->
<div class="contents">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 bg-faded members">
        <div class="row members-header">
          <div class="col-sm-12">
            Rooms
          </div>
        </div>
        <div class="row members-body">
          <!-- <ul class="list-group members-group">
            <li class="list-group-item member-item justify-content-between bg-faded">
              <img src="//api.adorable.io/avatars/30/aaa.png" class="rounded-circle mr-1">
              <small>aaaa</small>
            </li>
          </ul> -->
          <ul class="members-group">
            <li class="member-item justify-content-between bg-faded">
              <img src="//api.adorable.io/avatars/30/aaa.png" class="rounded-circle mr-1">
              <small>aaaa</small>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-10 messages-main">
        aaa
        <!-- <div class="row messages-header">
        <div class="col-sm-12">
          Messages
        </div>
      </div>
      <div class="row messages-body">
        <div class="col-sm-12">
          <ul class="list-group message-group">
            <li class="list-group-item message-item d-flex" track-by="$index">
              <img src="//api.adorable.io/avatars/30/aaa.png" class="rounded-circle float-left mr-2">
              message
              <hr>
              <small class="text-muted">username @ data</small>
            </li>
          </ul>
        </div>
      </div>
      <div class="row messages-footer">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Message text...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Send</button>
          </span>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
<!-- <h1>WebSocketを使ったチャットアプリケーション</h1>
<h2>部屋: {{ RoomID }}</h2>
<form id="chatbox">
  :<br />
  <textarea name="" id="msgInput" cols="30" rows="10"></textarea>
  <input type="submit" value="送信">
</form>
<ul id="messages"></ul>
<div class="a">1</div>
<div id="2">2</div>
<div id="3">3</div>
<div id="4">4</div>
<div id="5">5</div>
<div id="6">6</div>
<div id="7">7</div>
<div id="8">8</div>
<div id="9">9</div>
<div id="10">10</div>
<div id="11">11</div>
<div id="12">12</div>
<div id="13">13</div>
<div id="14">14</div>
<div id="15">15</div>
<div id="16">16</div>
<div id="17">17</div>
<div id="18">18</div>
<div id="19">19</div>
<div id="20">20</div>
<div id="21">21</div>
<div id="22">22</div>
<div id="23">23</div>
<div id="24">24</div>
<div id="25">25</div>
<div id="26">26</div>
<div id="27">27</div>
<div id="28">28</div>
<div id="29">29</div>
<div id="30">30</div>
<div id="31">31</div>
<div id="32">32</div>
<div id="33">33</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div class="b">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div class="c">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div>
<div id="34">34</div> -->
{% endblock %}
