<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <h1>WebSocketを使ったチャットアプリケーション</h1>
  <h2>部屋: {{ RoomID }}</h2>
  <form id="chatbox">
    :<br />
    <textarea name="" id="msgInput" cols="30" rows="10"></textarea>
    <input type="submit" value="送信">
  </form>
  <ul id="messages"></ul>

  <script src="/js/main.js"></script>
</body>

</html>
